* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: calc(50px + 0.2vw);
}

p {
  color: #fff;
  line-height: 1.8;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 1440px) {
  .container {
    padding: 0 10px;
  }
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-family: "Copperplate Gothic";
  z-index: 500;
}
@media (min-width: 1440px) {
  header {
    height: 100px;
  }
}
header .portfolio-menu {
  background-color: #000;
}
header .portfolio-menu .menu-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .portfolio-menu .menu-flex-box .logo a img {
  width: 35px;
  margin: 7px;
}
@media (min-width: 1440px) {
  header .portfolio-menu .menu-flex-box .logo a img {
    width: 100px;
    padding: 5px;
  }
}
header .portfolio-menu .menu-flex-box #mobile-btn-open #btn-open img {
  cursor: pointer;
}
@media (min-width: 1440px) {
  header .portfolio-menu .menu-flex-box #mobile-btn-open #btn-open img {
    display: none;
  }
}
header .portfolio-menu .menu-flex-box #main-menu-box {
  position: fixed;
  top: 0;
  right: -100vw;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #000;
  transition: all 0.4s;
}
@media (min-width: 1440px) {
  header .portfolio-menu .menu-flex-box #main-menu-box {
    position: static;
    display: block;
    right: 0;
    height: 100px;
    background-color: transparent;
  }
}
header .portfolio-menu .menu-flex-box #main-menu-box #mobile-btn-close #btn-close {
  background-color: red;
  width: 8.5%;
  margin-left: 50px;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}
@media (min-width: 1440px) {
  header .portfolio-menu .menu-flex-box #main-menu-box #mobile-btn-close #btn-close {
    display: none;
  }
}
header .portfolio-menu .menu-flex-box #main-menu-box #menu-box {
  display: none;
}
@media (min-width: 1440px) {
  header .portfolio-menu .menu-flex-box #main-menu-box #menu-box {
    display: block;
  }
}
@media (min-width: 1440px) {
  header .portfolio-menu .menu-flex-box #main-menu-box #menu-box .gnb {
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 100px;
  }
}
header .portfolio-menu .menu-flex-box #main-menu-box #menu-box .gnb li {
  text-align: center;
}
header .portfolio-menu .menu-flex-box #main-menu-box #menu-box .gnb li .main-menu-a {
  background-color: lightseagreen;
}
@media (min-width: 1440px) {
  header .portfolio-menu .menu-flex-box #main-menu-box #menu-box .gnb li .main-menu-a {
    font-size: 20px;
    padding-left: 200px;
  }
  header .portfolio-menu .menu-flex-box #main-menu-box #menu-box .gnb li .main-menu-a:hover {
    text-shadow: 0px 5px 5px lightblue;
    transition: 0.5s;
  }
}
header .portfolio-menu .menu-flex-box #main-menu-box #menu-box .gnb #slide-menu-bar {
  position: relative;
}
header .portfolio-menu .menu-flex-box #main-menu-box #menu-box .gnb #slide-menu-bar .submenu {
  z-index: 999;
}
@media (min-width: 1440px) {
  header .portfolio-menu .menu-flex-box #main-menu-box #menu-box .gnb #slide-menu-bar .submenu {
    position: absolute;
    top: 60px;
    right: -32px;
  }
}
header .portfolio-menu .menu-flex-box #main-menu-box #menu-box .gnb #slide-menu-bar .submenu li {
  background-color: darkmagenta;
  padding: 12px;
}/*# sourceMappingURL=header.css.map */