* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: calc(50px + 0.2vw);
}

p {
  color: #fff;
  line-height: 1.8;
}

body {
  background: url(../images/background_blue_mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 1440px) {
  body {
    height: 11275px;
  }
}
@media (min-width: 1440px) {
  body {
    background: url(../images/background_blue_pc.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

main {
  /**********************symbol**********************/
  /********************** aboutme **********************/
  /********************** skill **********************/
  /********************** renewal-page **********************/
  /********************** detailed-page **********************/
  /********************** app-design **********************/
  /********************** cardnews-design **********************/
  /********************** cardnews-design **********************/
}
main .symbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
@media (min-width: 1440px) {
  main .symbol {
    height: 1080px;
  }
}
main .symbol img:first-child {
  width: 200px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  main .symbol img:first-child {
    width: 612px;
    margin-top: 120px;
    margin-bottom: 95px;
  }
}
main .symbol img:last-child {
  display: none;
}
@media (min-width: 1440px) {
  main .symbol img:last-child {
    display: block;
  }
}
main .aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1440px) {
  main .aboutme {
    height: 1080px;
  }
}
main .aboutme h1 {
  font-family: "Copperplate Gothic";
  font-size: calc(25px + 0.5vw);
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}
@media (min-width: 1440px) {
  main .aboutme h1 {
    font-size: calc(80px + 0.2vw);
    margin-bottom: 127px;
  }
}
main .aboutme .flex-box {
  color: #fff;
  font-family: "Noto Sans KR";
  text-align: center;
}
@media (min-width: 1440px) {
  main .aboutme .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
main .aboutme .flex-box img {
  margin: 0 auto;
  width: 117px;
}
@media (min-width: 1440px) {
  main .aboutme .flex-box img {
    width: 390px;
    margin-right: 330px;
  }
}
@media (min-width: 1440px) {
  main .aboutme .flex-box .introduc {
    text-align: left;
  }
}
main .aboutme .flex-box .introduc h3 {
  font-size: calc(18px + 0.5vw);
  margin-top: 40px;
  margin-bottom: 32px;
}
@media (min-width: 1440px) {
  main .aboutme .flex-box .introduc h3 {
    font-size: calc(25px + 0.5vw);
  }
}
@media (max-width: 768px) {
  main .aboutme .flex-box .introduc h3 br {
    display: none;
  }
}
main .aboutme .flex-box .introduc p {
  font-size: 14px;
}
main .aboutme .flex-box .introduc p span:hover {
  text-shadow: 0px 4px 10px lightblue;
}
@media (min-width: 1440px) {
  main .aboutme .flex-box .introduc p {
    font-size: 20px;
  }
}
@media (min-width: 1440px) {
  main .skill {
    height: 1370px;
  }
}
main .skill h1 {
  font-family: "Copperplate Gothic";
  font-size: calc(25px + 0.5vw);
  text-align: center;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 24px;
}
@media (min-width: 1440px) {
  main .skill h1 {
    font-size: calc(80px + 0.2vw);
    margin-top: 100px;
    margin-bottom: 127px;
  }
}
main .skill .icon-box {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: auto;
  grid-column-gap: 10%;
  grid-row-gap: 30px;
}
@media (min-width: 1440px) {
  main .skill .icon-box {
    width: 100%;
    grid-template-columns: repeat(5, 18%);
    grid-column-gap: 2.5%;
    grid-row-gap: 7px;
    margin-bottom: 122px;
  }
}
@media (min-width: 1440px) {
  main .skill .icon-box .icon {
    margin-bottom: 30px;
  }
}
main .skill .icon-box .icon img {
  width: 100%;
}
main .skill .icon-box .icon10 {
  width: 75px;
  justify-content: flex-start;
  margin-right: 165px;
}
@media (min-width: 1440px) {
  main .skill .icon-box .icon10 {
    width: 33.33%;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  main .skill .icon-box .icon10 img {
    width: 250px;
    margin: 0 auto 30px;
  }
}
@media (min-width: 1440px) {
  main .renewal-page {
    height: 1080px;
  }
}
main .renewal-page h1 {
  font-family: "Copperplate Gothic";
  font-size: calc(25px + 0.5vw);
  text-align: center;
  color: #fff;
  margin-top: 35px;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .renewal-page h1 {
    font-size: calc(80px + 0.2vw);
  }
}
main .renewal-page .flex-box {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 1080px;
    align-items: center;
  }
}
main .renewal-page .flex-box .page-img {
  margin: 0 auto;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .page-img {
    margin: 0;
  }
}
main .renewal-page .flex-box .page-img img {
  width: 194px;
  height: 358px;
  margin-bottom: 48px;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .page-img img {
    width: 454px;
    height: 824px;
  }
}
main .renewal-page .flex-box .intro-txt {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt {
    display: block;
  }
}
main .renewal-page .flex-box .intro-txt .intro {
  color: #fff;
}
main .renewal-page .flex-box .intro-txt .intro h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Copperplate Gothic";
  font-size: 18px;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .intro h3 {
    position: static;
    transform: translateX(0);
    font-size: calc(50px + 0.2vw);
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
main .renewal-page .flex-box .intro-txt .intro .pbox {
  margin-top: 30px;
}
main .renewal-page .flex-box .intro-txt .intro .pbox p {
  font-family: "Noto Sans KR";
  font-size: 14px;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .intro .pbox p {
    font-size: 20px;
  }
}
main .renewal-page .flex-box .intro-txt .intro .pbox p:last-child br {
  display: block;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .intro .pbox p:last-child br {
    display: none;
  }
}
main .renewal-page .flex-box .intro-txt .more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 20px;
  margin-top: 100px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 12px;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .more-btn {
    width: 428px;
    height: 80px;
    margin-top: 40px;
    border-radius: 50px;
    padding: 30px;
  }
}
main .renewal-page .flex-box .intro-txt .more-btn p {
  font-family: "Copperplate Gothic";
  font-size: 12px;
  color: #fff;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .more-btn p {
    font-size: 25px;
  }
}
main .renewal-page .flex-box .intro-txt .more-btn a {
  width: 25%;
  cursor: pointer;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .more-btn a {
    width: 38px;
  }
}
@media (min-width: 1440px) {
  main .detailed-page {
    height: 1400px;
  }
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
  }
}
main .detailed-page .flex-box .page-img img {
  width: 329px;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .page-img img {
    width: 840px;
  }
}
main .detailed-page .flex-box .intro-txt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .intro-txt {
    display: block;
  }
}
main .detailed-page .flex-box .intro-txt .intro {
  color: #fff;
}
main .detailed-page .flex-box .intro-txt .intro h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Copperplate Gothic";
  font-size: 18px;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .intro-txt .intro h3 {
    position: static;
    transform: translateX(0);
    font-size: calc(50px + 0.2vw);
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
main .detailed-page .flex-box .intro-txt .intro p {
  font-family: "Noto Sans KR";
  font-size: 14px;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .intro-txt .intro p {
    font-size: 20px;
  }
}
main .detailed-page .flex-box .more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 20px;
  margin-top: 100px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 12px;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .more-btn {
    width: 428px;
    height: 80px;
    margin-top: 40px;
    border-radius: 50px;
    padding: 30px;
  }
}
main .detailed-page .flex-box .more-btn p {
  font-family: "Copperplate Gothic";
  font-size: 12px;
  color: #fff;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .more-btn p {
    font-size: 25px;
  }
}
main .detailed-page .flex-box .more-btn a {
  width: 25%;
  cursor: pointer;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .more-btn a {
    width: 38px;
  }
}
@media (min-width: 1440px) {
  main .app-design {
    height: 1080px;
  }
}
main .app-design .flex-box {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1440px) {
  main .app-design .flex-box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
main .app-design .flex-box .page-img {
  margin: 0 auto;
  margin-top: 44px;
}
@media (min-width: 1440px) {
  main .app-design .flex-box .page-img {
    margin: 0;
  }
}
main .app-design .flex-box .page-img img {
  width: 186px;
}
@media (min-width: 1440px) {
  main .app-design .flex-box .page-img img {
    width: 504px;
  }
}
main .app-design .flex-box .intro-txt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .app-design .flex-box .intro-txt {
    display: block;
  }
}
main .app-design .flex-box .intro-txt .intro {
  color: #fff;
}
main .app-design .flex-box .intro-txt .intro h3 {
  text-align: left;
  font-family: "Copperplate Gothic";
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .app-design .flex-box .intro-txt .intro h3 {
    font-size: calc(50px + 0.2vw);
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
main .app-design .flex-box .intro-txt .intro img {
  display: none;
}
@media (min-width: 1440px) {
  main .app-design .flex-box .intro-txt .intro img {
    display: block;
    width: 357px;
    margin-bottom: 30px;
  }
}
@media (min-width: 1440px) {
  main .app-design .flex-box .intro-txt .intro h4 {
    font-size: 30px;
    margin-bottom: 30px;
  }
}
main .app-design .flex-box .intro-txt .intro p {
  font-family: "Noto Sans KR";
  font-size: 14px;
}
@media (min-width: 1440px) {
  main .app-design .flex-box .intro-txt .intro p {
    font-size: 20px;
  }
}
main .app-design .flex-box .more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 20px;
  margin-top: 124px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 12px;
}
@media (min-width: 1440px) {
  main .app-design .flex-box .more-btn {
    width: 428px;
    height: 80px;
    margin-top: 40px;
    border-radius: 50px;
    padding: 30px;
  }
}
main .app-design .flex-box .more-btn p {
  font-family: "Copperplate Gothic";
  font-size: 12px;
  color: #fff;
}
@media (min-width: 1440px) {
  main .app-design .flex-box .more-btn p {
    font-size: 25px;
  }
}
main .app-design .flex-box .more-btn a {
  width: 25%;
  cursor: pointer;
}
@media (min-width: 1440px) {
  main .app-design .flex-box .more-btn a {
    width: 38px;
  }
}
main .cardnews-design {
  align-content: center;
}
@media (min-width: 1440px) {
  main .cardnews-design {
    height: 1080px;
  }
}
@media (min-width: 1440px) {
  main .cardnews-design .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
}
main .cardnews-design .flex-box .page-img {
  display: flex;
  justify-content: center;
}
main .cardnews-design .flex-box .page-img img {
  width: 152px;
  margin: 10px;
}
main .cardnews-design .flex-box .page-img img:not(:last-child) {
  margin-right: 10px;
}
@media (min-width: 1440px) {
  main .cardnews-design .flex-box .page-img img {
    width: 391px;
    margin-right: 180px;
  }
}
main .cardnews-design .flex-box .intro-txt {
  display: flex;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .cardnews-design .flex-box .intro-txt {
    display: block;
  }
}
main .cardnews-design .flex-box .intro-txt .intro {
  color: #fff;
}
main .cardnews-design .flex-box .intro-txt .intro h3 {
  font-family: "Copperplate Gothic";
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .cardnews-design .flex-box .intro-txt .intro h3 {
    font-size: calc(50px + 0.2vw);
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
main .cardnews-design .flex-box .intro-txt .intro p {
  font-family: "Noto Sans KR";
  font-size: 14px;
}
@media (min-width: 1440px) {
  main .cardnews-design .flex-box .intro-txt .intro p {
    font-size: 20px;
  }
}
main .cardnews-design .flex-box .more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 20px;
  margin-top: 100px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 12px;
}
@media (min-width: 1440px) {
  main .cardnews-design .flex-box .more-btn {
    width: 428px;
    height: 80px;
    margin-top: 40px;
    border-radius: 50px;
    padding: 30px;
  }
}
main .cardnews-design .flex-box .more-btn p {
  font-family: "Copperplate Gothic";
  font-size: 12px;
  color: #fff;
}
@media (min-width: 1440px) {
  main .cardnews-design .flex-box .more-btn p {
    font-size: 25px;
  }
}
main .cardnews-design .flex-box .more-btn a {
  width: 25%;
  cursor: pointer;
}
@media (min-width: 1440px) {
  main .cardnews-design .flex-box .more-btn a {
    width: 38px;
  }
}
@media (min-width: 1440px) {
  main .teamproject {
    height: 1780px;
  }
}
main .teamproject .flex-box {
  display: flex;
  flex-direction: column;
}
main .teamproject .flex-box .page-img {
  margin: 0 auto;
}
@media (min-width: 1440px) {
  main .teamproject .flex-box .page-img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }
}
main .teamproject .flex-box .page-img img {
  width: 291px;
}
@media (min-width: 1440px) {
  main .teamproject .flex-box .page-img img:first-child {
    width: 694px;
    height: 580px;
    margin-top: 280px;
  }
}
@media (min-width: 1440px) {
  main .teamproject .flex-box .page-img img:last-child {
    width: 573px;
  }
}
main .teamproject .flex-box .intro-txt {
  display: flex;
  justify-content: center;
}
@media (min-width: 1440px) {
  main .teamproject .flex-box .intro-txt {
    flex-direction: column;
    justify-content: left;
    font-size: 20px;
    margin-top: -750px;
  }
}
main .teamproject .flex-box .intro-txt .intro {
  color: #fff;
}
main .teamproject .flex-box .intro-txt .intro h3 {
  font-family: "Copperplate Gothic";
  font-size: 18px;
  margin-top: 35px;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .teamproject .flex-box .intro-txt .intro h3 {
    font-size: calc(50px + 0.2vw);
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
main .teamproject .flex-box .intro-txt .intro p {
  font-family: "Noto Sans KR";
  font-size: 14px;
}
@media (min-width: 1440px) {
  main .teamproject .flex-box .intro-txt .intro p {
    font-size: 20px;
  }
}
main .teamproject .flex-box .intro-txt .intro p:last-child br {
  display: block;
}
@media (min-width: 1440px) {
  main .teamproject .flex-box .intro-txt .intro p:last-child br {
    display: none;
  }
}
main .teamproject .flex-box .more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 20px;
  margin-top: 150px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 12px;
}
@media (min-width: 1440px) {
  main .teamproject .flex-box .more-btn {
    width: 428px;
    height: 80px;
    margin-top: 40px;
    border-radius: 50px;
    padding: 30px;
  }
}
main .teamproject .flex-box .more-btn p {
  font-family: "Copperplate Gothic";
  font-size: 12px;
  color: #fff;
}
@media (min-width: 1440px) {
  main .teamproject .flex-box .more-btn p {
    font-size: 25px;
  }
}
main .teamproject .flex-box .more-btn a {
  width: 25%;
  cursor: pointer;
}
@media (min-width: 1440px) {
  main .teamproject .flex-box .more-btn a {
    width: 38px;
  }
}
main .top-btn {
  z-index: 999;
}
main .top-btn a img {
  width: 20%;
  position: fixed;
  right: 30px;
  bottom: 30px;
}
@media (min-width: 1440px) {
  main .top-btn a img {
    width: 5%;
  }
}
main .top-btn a:hover {
  font-weight: bold;
}/*# sourceMappingURL=index.css.map */