* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: calc(50px + 0.2vw);
}

p {
  font-size: 20px;
  line-height: 1.8;
}

body {
  height: 5146px;
  background: url(../images/background_blue_mobile.png) no-repeat;
  background-size: cover;
  background-position: center;
}
@media (min-width: 1440px) {
  body {
    height: 11022px;
  }
}
@media (min-width: 1440px) {
  body {
    background: url(../images/background_blue_pc.png) no-repeat;
    background-size: cover;
    background-position: center;
  }
}

main {
  /**********************symbol**********************/
  /********************** aboutme **********************/
  /********************** skill **********************/
  /********************** renewal-page **********************/
  /********************** detailed-page **********************/
  /********************** app-design **********************/
  /********************** cardnews-design **********************/
  /********************** cardnews-design **********************/
}
main .symbol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}
@media (min-width: 1440px) {
  main .symbol {
    height: 980px;
  }
}
main .symbol img:first-child {
  width: 200px;
  margin: 0 auto;
}
@media (min-width: 1440px) {
  main .symbol img:first-child {
    width: 612px;
    margin-top: 120px;
    margin-bottom: 95px;
  }
}
main .symbol img:last-child {
  display: none;
}
@media (min-width: 1440px) {
  main .symbol img:last-child {
    display: block;
  }
}
main .aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1440px) {
  main .aboutme {
    height: 1080px;
  }
}
main .aboutme h1 {
  font-family: "Copperplate Gothic";
  font-size: calc(25px + 0.5vw);
  text-align: center;
  color: #fff;
  margin-bottom: 24px;
}
@media (min-width: 1440px) {
  main .aboutme h1 {
    font-size: calc(80px + 0.2vw);
    margin-bottom: 127px;
  }
}
main .aboutme .flex-box {
  color: #fff;
  font-family: "Noto Sans KR";
  text-align: center;
}
@media (min-width: 1440px) {
  main .aboutme .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
main .aboutme .flex-box img {
  margin: 0 auto;
  width: 117px;
}
@media (min-width: 1440px) {
  main .aboutme .flex-box img {
    width: 390px;
    margin-right: 330px;
  }
}
@media (min-width: 1440px) {
  main .aboutme .flex-box .introduc {
    text-align: left;
  }
}
main .aboutme .flex-box .introduc h3 {
  font-size: calc(18px + 0.5vw);
  margin-top: 40px;
  margin-bottom: 32px;
}
@media (min-width: 1440px) {
  main .aboutme .flex-box .introduc h3 {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  main .aboutme .flex-box .introduc h3 br {
    display: none;
  }
}
main .aboutme .flex-box .introduc p {
  font-size: 14px;
}
main .aboutme .flex-box .introduc p span {
  color: #f89a3b;
}
@media (min-width: 1440px) {
  main .aboutme .flex-box .introduc p {
    font-size: 25px;
  }
}
@media (min-width: 1440px) {
  main .skill {
    height: 1080px;
  }
}
main .skill h1 {
  font-family: "Copperplate Gothic";
  font-size: calc(25px + 0.5vw);
  text-align: center;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 24px;
}
@media (min-width: 1440px) {
  main .skill h1 {
    font-size: calc(80px + 0.2vw);
    margin-top: 270px;
    margin-bottom: 127px;
  }
}
main .skill .icon-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1440px) {
  main .skill .icon-box {
    margin-bottom: 122px;
  }
}
main .skill .icon-box .icon {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-bottom: 10px;
}
@media (min-width: 1440px) {
  main .skill .icon-box .icon {
    width: 33.33%;
    margin-bottom: 30px;
  }
}
main .skill .icon-box .icon img {
  width: 75px;
}
@media (min-width: 1440px) {
  main .skill .icon-box .icon img {
    width: 250px;
  }
}
main .skill .icon-box .icon9 {
  width: 75px;
  justify-content: flex-start;
  margin-right: 165px;
}
@media (min-width: 1440px) {
  main .skill .icon-box .icon9 {
    width: 33.33%;
    margin-right: 0;
  }
}
@media (min-width: 1440px) {
  main .skill .icon-box .icon9 img {
    width: 250px;
    margin: 0 auto 30px;
  }
}
@media (min-width: 1440px) {
  main .renewal-page {
    height: 1080px;
  }
}
main .renewal-page h1 {
  font-family: "Copperplate Gothic";
  font-size: calc(25px + 0.5vw);
  text-align: center;
  color: #fff;
  margin-top: 35px;
}
@media (min-width: 1440px) {
  main .renewal-page h1 {
    font-size: calc(80px + 0.2vw);
  }
}
main .renewal-page .flex-box {
  position: relative;
  height: 645px;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box {
    display: block;
    display: flex;
    justify-content: space-between;
    height: 1080px;
    align-items: center;
    margin-top: 60px;
  }
}
main .renewal-page .flex-box .intro-txt {
  height: 120px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt {
    flex-direction: column;
    width: 550px;
    height: 440px;
  }
}
main .renewal-page .flex-box .intro-txt .intro {
  color: #fff;
}
main .renewal-page .flex-box .intro-txt .intro h3 {
  text-align: center;
  font-family: "Copperplate Gothic";
  font-size: 18px;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .intro h3 {
    font-size: calc(50px + 0.2vw);
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
main .renewal-page .flex-box .intro-txt .intro p {
  font-family: "Noto Sans KR";
  font-size: 14px;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .intro p {
    font-size: 20px;
  }
}
main .renewal-page .flex-box .intro-txt .more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 20px;
  margin-top: 100px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 12px;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .more-btn {
    width: 428px;
    height: 80px;
    margin-top: 40px;
    border-radius: 50px;
    padding: 30px;
  }
}
main .renewal-page .flex-box .intro-txt .more-btn p {
  font-family: "Copperplate Gothic";
  font-size: 12px;
  color: #fff;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .more-btn p {
    font-size: 25px;
  }
}
main .renewal-page .flex-box .intro-txt .more-btn a {
  width: 25%;
  cursor: pointer;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .intro-txt .more-btn a {
    width: 38px;
  }
}
main .renewal-page .flex-box .page-img img {
  width: 194px;
  height: 358px;
}
@media (min-width: 1440px) {
  main .renewal-page .flex-box .page-img img {
    width: 454px;
    height: 824px;
  }
}
@media (min-width: 1440px) {
  main .detailed-page {
    height: 1663px;
  }
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }
}
main .detailed-page .flex-box .page-img {
  margin-top: 44px;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .page-img img {
    width: 913px;
    margin-top: 135px;
  }
}
main .detailed-page .flex-box .intro-txt {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .intro-txt {
    display: block;
  }
}
main .detailed-page .flex-box .intro-txt .intro {
  color: #fff;
}
main .detailed-page .flex-box .intro-txt .intro h3 {
  text-align: center;
  font-family: "Copperplate Gothic";
  font-size: 18px;
  margin-bottom: 35px;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .intro-txt .intro h3 {
    font-size: calc(50px + 0.2vw);
    font-weight: lighter;
    margin-bottom: 30px;
  }
}
main .detailed-page .flex-box .intro-txt .intro p {
  font-family: "Noto Sans KR";
  font-size: 14px;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .intro-txt .intro p {
    font-size: 20px;
  }
}
main .detailed-page .flex-box .more-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  height: 20px;
  margin-top: 100px;
  border: 1px solid white;
  border-radius: 30px;
  padding: 12px;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .more-btn {
    width: 428px;
    height: 80px;
    margin-top: 40px;
    border-radius: 50px;
    padding: 30px;
  }
}
main .detailed-page .flex-box .more-btn p {
  font-family: "Copperplate Gothic";
  font-size: 12px;
  color: #fff;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .more-btn p {
    font-size: 25px;
  }
}
main .detailed-page .flex-box .more-btn a {
  width: 25%;
  cursor: pointer;
}
@media (min-width: 1440px) {
  main .detailed-page .flex-box .more-btn a {
    width: 38px;
  }
}
@media (min-width: 1440px) {
  main .app-design {
    height: 1080px;
  }
}
main .app-design .flex-box .intro-txt .intro img {
  display: none;
}
@media (min-width: 1440px) {
  main .app-design .flex-box .intro-txt .intro img {
    display: block;
  }
}
main .app-design .flex-box .page-img img {
  width: 186px;
}
@media (min-width: 1440px) {
  main .cardnews-design {
    height: 1080px;
  }
}
@media (min-width: 1440px) {
  main .teamproject {
    height: 1854px;
  }
}/*# sourceMappingURL=index.css.map */