@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

.container {
    // background-color: aqua;
    width: $width-wide;
    max-width: $break-large;
    margin: 0 auto;
    padding: 0 15px;

    @include responsive(large-screens) {
        padding: 0 10px;
    }
}

// footer {

// }

footer {
    // background-color: greenyellow;
        @include responsive(large-screens) {
        }
        .flex-box {
            position: relative; //그라데이션 원 고정을 위한 포지션
            margin-top: 50px;
            margin-bottom: 50px;

            @include responsive(large-screens) {
            height: 1080px;
            margin: 0;
                // margin: 0 auto;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
        .contact {
            z-index: 500;
            font-family: $font-main;
            // font-weight: bold;
            font-size: 35px;
            text-align: center;

            // .contact-ani {
            //     opacity: 1;
            //     animation: slide-lf-to-rt 1.5s ease forwards; /* 애니메이션 적용 */
            // }

            @include responsive(large-screens) {
                font-size: 150px;
            }
        }
        .p-txt {
            font-family: $font-sub2;
            p {
                font-size: $font-size-14;
                @include responsive(large-screens) {
                    font-size: 25px;
                }
            }
        }

        #blue_contact {  // 그라데이션 원 
            z-index: -1;
            display: none;
            position: absolute;
            top: -70px;
            left: 170px;
            width: 200px;
            transform: translateX(-50%);
            
            @include responsive(large-screens) {
                top: 50px;
                left: 990px;
                width: 990px;
            }
        }
    }  //flex-box
}