@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

.container {
    // background-color: aqua;
    width: $width-wide;
    max-width: $break-large;
    margin: 0 auto;
    padding: 0 15px;

    @include responsive(large-screens) {
        padding: 0 10px;
    }
}


footer {
    overflow: hidden;
    // background-color: greenyellow;
        @include responsive(large-screens) {
        }
        .flex-box {
            position: relative; //그라데이션 원 고정을 위한 포지션
            margin-top: 50px;
            margin-bottom: 50px;

            @include responsive(large-screens) {
            height: 1080px;
            margin: 0;
                // margin: 0 auto;
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
        .contact {
            z-index: 500;
            font-family: $font-main;
            // font-weight: bold;
            font-size: 35px;
            text-align: center;


            opacity: 0;
            transform: translateX(100px);
            transition: opacity 4s ease, transform 0.3s ease;
        
            &.visible {
                opacity: 1;
                transform: translateX(0);
            }

            @include responsive(large-screens) {
                font-size: 150px;
            }
        }

        .p-txt {
            font-family: $font-sub2;

            opacity: 0;
            transform: translateX(-100px);
            transition: opacity 4s ease, transform 0.3s ease; /* 여기서 0.3s를 원하는 시간으로 변경하세요 */

            &.visible {
                opacity: 1;
                transform: translateX(0);
            }

            p {
                font-size: $font-size-14;
                @include responsive(large-screens) {
                    font-size: 25px;
                }
            }
        }

        #blue_contact {  // 그라데이션 원 
            z-index: -1;
            display: none;
            position: absolute;
            top: -70px;
            left: 170px;
            width: 200px;
            transform: translateX(-50%);
            
            @include responsive(large-screens) {
                top: 50px;
                left: 990px;
                width: 990px;
            }
        }
    }  //flex-box

    .top-btn {
        z-index: 999;
        a {
            img {
                width: 15%;
                max-width: 120px; // 최대 이사이즈 까지만 늘어나게 고정
                position: fixed;
                right: 30px;
                bottom: 30px;
                
                @include responsive(large-screens) {
                    width: 5%;
                    right: 100px;
                    bottom: 30px;
                }
            }
            &:hover {
                font-weight: bold;
            }
        }
    }
}  

// .contact-ani {
//     opacity: 1;
//     animation: slide-lf-to-rt 1.5s ease forwards; /* 애니메이션 적용 */
// }