@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

.container {
    // background-color: cornflowerblue;
    width: $width-wide;
    max-width: $break-large;
    margin: 0 auto;
    padding: 0 15px;

    @include responsive(large-screens) {
        padding: 0 10px;
    }
}

//*****************header*****************
header {
    position: fixed;
    left: 0; top: 0;
    width: $width-wide;
    // height: 60px;
    font-family: $font-main;
    z-index: 500;

    @include responsive(large-screens) {
        height: 100px;
    }

    .portfolio-menu {
        background-color: #000;
        .menu-flex-box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                a {
                    img {
                        width: 35px;
                        margin: 7px;
                        @include responsive(large-screens) {
                            width: 100px; 
                            padding: 5px;
                        }
                    }
                }
            } //logo

            #mobile-btn-open {
                #btn-open {
                    img {
                        cursor: pointer;

                        @include responsive(large-screens) {
                            display: none;
                        }
                    }
                }
            }

            #main-menu-box {
                position: fixed;
                top: 0;
                right: -100vw;
                width: 100vw;
                height: 100vh;
                z-index: 100;
                background-color: $color-sub;
                transition: all 0.4s;

                @include responsive(large-screens) {
                    position: static;
                    display: block;
                    right: 0;
                    height: 100px;
                    // width: 60%;
                    background-color: transparent;
                }

                #mobile-btn-close {
                    #btn-close {
                        background-color: red;
                        width: 8.5%;
                        margin-left: 50px;
                        font-size: 50px;
                        color: $color-main;
                        cursor: pointer;

                        @include responsive(large-screens) {
                            display: none;
                        }
                    }
                }
                #menu-box { //헤더 메뉴바
                    display: none; //모바일 햄버거메뉴
    
                    @include responsive(large-screens) {
                        display: block;
                    }
                    .gnb {
                        
                        @include responsive(large-screens) {
                            display: flex;
                            // justify-content: space-between;
                            align-items: center;
                            font-weight: bold;
                            height: 100px;
                        
                        }
                        li {
                            text-align: center;
    
                            .main-menu-a {
                                background-color: lightseagreen;
                                @include responsive(large-screens) {
                                    font-size: 20px;
                                    // background-color: red;
                                    padding-left: 200px;
    
                                    &:hover {
                                        text-shadow:  0px 5px 5px lightblue;
                                        transition: 0.5s;
                                    }
                                }
                            }
    
                        }
                        #slide-menu-bar {
                            position: relative;
    
                            .submenu {
                                // display: none;
                                // left: 64.5%;
                                // transform: translateX(-50%);
                                z-index: 999;
                                @include responsive(large-screens) {               
                                    position: absolute;
                                    top: 60px;
                                    right: -32px;
                                    // display: block;
                                }
        
                                li {
                                    background-color: darkmagenta;
                                    padding: 12px;
                                }
                            } //submenu
                        }
                    } //gnb
                } //menu-box
            }
        } //menu-flex-box
    } //portfolio-menus
}