@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";

.container {
    //background-color: aqua;
    width: $width-wide;
    max-width: $break-large;
    margin: 0 auto;
    padding: 0 15px;

    @include responsive(large-screens) {
        padding: 0 10px;
    }
}

//*****************header*****************
header {
    position: fixed;
    top: 0;
    width: $width-wide;
    height: 60px;
    font-family: $font-main;
    z-index: 500;

    @include responsive(large-screens) {
        height: 100px;
    }

    .portfolio-menu {
        background-color: #000;
        .menu-flex-box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo {
                margin: 20px;
                a {
                    img {
                        width: 35px;

                        @include responsive(large-screens) {
                            width: 100px;
                        }
                    }
                }
            } //logo

            #mobile-btn-open {
                #btn-open {
                    a {
                        img {
                            @include responsive(large-screens) {
                                display: none;
                            }
                        }
                    }
                }
            }

            #menu-box { //헤더 메뉴바
                display: none;

                @include responsive(large-screens) {
                    display: block;
                }
                .gnb {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-weight: bold;
                    li {
                        text-align: center;
                        .main-menu-a {
                            @include responsive(large-screens) {
                                background-color: red;
                                padding-left: 230px;
                            }
                        }
                        .submenu {
                            display: none;

                            @include responsive(large-screens) {
                                // display: block;
                            }
                        }
                    }
                }
            }
        } //menu-flex-box
    } //portfolio-menus
}