@import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";
@include lf-to-rt;
@include rt-to-lf;


body {
    @include responsive(large-screens) {
        // height: 13505px; // 페이지 전체의 높이값 지정.
    }
    background: url(../images/background_blue_mobile_2.png) no-repeat;
    background-size: cover;
    // background-size: 100% auto;
    background-position: center;

    @include responsive(large-screens) {
        background: url(../images/background_blue_pc_3.png) no-repeat top left;
        background-size: cover;
        // background-size: 100% auto;
        background-position: center;
    }
}



main {
    .symbol {
        display: flex; // flexbox 사용
        flex-direction: column; // 세로 방향으로 정렬
        align-items: center; // 수평 중앙 정렬
        justify-content: center; // 수직 중앙 정렬
        height: 50vh;
        // height: 330px; // 모바일 버전 섹션에 높이값 지정
    
        @include responsive(large-screens) {
            height: 1080px;
        }
        
        h2 {
            font-size: 0;
        }
        .img1 {
            width: 200px;
            margin: 0 auto;

            @include responsive(large-screens) {
                width: 612px;
                margin-top: 120px;
                margin-bottom: 95px;
            }
        }
        .img2 {
            display: none;

            @include responsive(large-screens) {
                display: block;
            }
        }
    } /**********************symbol**********************/

    .aboutme {
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 437px; // 모바일 버전 섹션에 높이값 지정
        @include responsive(large-screens) {
            height: 1080px; // 섹션명에 높이값 지정 1080px
        }
        h2 {
            font-family: $font-main;
            font-size: $mobile-title-main;
            text-align: center;
            color: $color-main;
            margin-bottom: 24px;

            @include responsive(large-screens) {
                font-size: $desktop-title-main;
                margin-bottom: 127px;
            }
        }
        .flex-box {
            color: $color-main;
            font-family: $font-sub2;
            text-align: center;
            @include responsive(large-screens) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            img {
                margin: 0 auto;
                width: 230px;


                @include responsive(large-screens) {
                    width: 390px;
                    margin-right: 330px;
                }
            }
            .introduc {
                @include responsive(large-screens) {
                    text-align: left;
                }
                h3 {
                    font-size: $mobile-title-sub;
                    margin-top: 40px;
                    margin-bottom: 32px;

                    @include responsive(large-screens) {
                        font-size: $mobile-title-main;
                    }

                    br {
                        @media (max-width: 768px) { //768px 이하일때 <br>숨김.
                                display: none;
                        }
                    }
                }
                p {
                    font-size: $font-size-14;
                    span {
                        &:hover {
                            text-shadow: 0px 4px 10px lightblue;
                        }
                    }

                    @include responsive(large-screens) {
                        font-size: $font-size-20;
                    }
                }
            }
        }
    } /********************** aboutme **********************/

    .skill { 
        // background-color: aquamarine;
        @include responsive(large-screens) {
            height: 1370px; // 섹션명에 높이값 지정 
            // height: 1080px;
            padding-top: 40px;
        }
        h2 {
            font-family: $font-main;
            font-size: $mobile-title-main;
            text-align: center;
            color: $color-main;
            margin-top: 60px;
            margin-bottom: 24px;

            @include responsive(large-screens) {
                font-size: $desktop-title-main;
                // margin-top: 100px;
                // margin-bottom: 127px;
            }
        }
        .icon-box {
            // background-color: blue;
            width: 90%;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(2, 45%);
            grid-template-rows: auto;
            grid-column-gap: 10%;
            grid-row-gap: 30px;
            // flex-wrap: wrap;
            // align-items: center;
            // justify-content: space-evenly;

            @include responsive(large-screens) {
                width: 100%;
                grid-template-columns: repeat(5, 18%);
                grid-column-gap: 2.5%;
                grid-row-gap: 7px;
                margin-top: 200px;
                margin-bottom: 122px;
            }
            
            .icon1,
            .icon2,
            .icon3,
            .icon4,
            .icon5,
            .icon6,
            .icon7,
            .icon8,
            .icon9 {
                @include responsive(large-screens) {
                    // width: 20%;
                    margin-bottom: 30px;
                    // background-color: green;
                }
                
                img {
                    width: 100%;

                    @include responsive(large-screens) {

                        // margin-left: 85px;
                        // margin-right: 85px;
                    }
                }
            }

            // 아이콘 호버 이미지 
            .icon1 {
                &:hover {
                    content: url(../images/ps_icon_2.png);
                    width: 100%;
                }
            }

            .icon2 {
                &:hover {
                    content: url(../images/ai_icon_2.png);
                    width: 100%;
                }
            }

            .icon3 {
                &:hover {
                    content: url(../images/git_icon_2.png);
                    width: 100%;
                }
            }

            .icon4 {
                &:hover {
                    content: url(../images/figma_icon_2.png);
                    width: 100%;
                }
            }

            .icon5 {
                &:hover {
                    content: url(../images/jquery_icon_2.png);
                    width: 100%;
                }
            }

            .icon6 {
                &:hover {
                    content: url(../images/sass_icon_2.png);
                    width: 100%;
                }
            }

            .icon7 {
                &:hover {
                    content: url(../images/css_icon_2.png);
                    width: 100%;
                }
            }

            .icon8 {
                &:hover {
                    content: url(../images/js_icon_2.png);
                    width: 100%;
                }
            }

            .icon9 {
                &:hover {
                    content: url(../images/html_icon_2.png);
                    width: 100%;
                }
            }

            .icon10 {
                // width: 75px;
                // justify-content: flex-start;
                // margin-right: 165px;
                &:hover {
                    content: url(../images/prae_icon_2.png);
                    width: 100%;
                }

                // @include responsive(large-screens) {
                //     width: calc(33.33%);
                //     margin-right: 0;
                // }

                img {
                    @include responsive(large-screens) {
                        width: 250px;
                        margin: 0 auto 30px;                        
                    }
                }
            }
        }
    }  /********************** skill **********************/

    .renewal-page {
        position: relative;
        // overflow: hidden; 브라우저 창하단에 스크롤 바가 나타남
        opacity: 0;
        animation: none;
        @include responsive(large-screens) {
            height: 1080px; // 섹션명에 높이값 지정 1080px
        }

        h2 {
            // position: relative;
            font-family: $font-main;
            font-size: $mobile-title-main;
            text-align: center;
            color: $color-main;
            margin-top: 35px;
            margin-bottom: 35px;

            @include responsive(large-screens) {
                font-size: $desktop-title-main;
                padding-top: 100px;
            }
        }
        .flex-box {
            display: flex;
            flex-direction: column;
            @include responsive(large-screens) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                height: 1080px; 
                align-items: center;
            }
            .page-img {
                margin: 0 auto;
                // background-color: greenyellow;
                @include responsive(large-screens) {
                    margin: 0;
                }
                img {
                    width: 194px; 
                    height: 358px;
                    margin-bottom: 48px;
                    @include responsive(large-screens) {
                        width: 454px;
                        height: 824px;
                    }
                }
            }
            .intro-txt {
                position: relative;
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;
                
                @include responsive(large-screens) {
                    display: block;
                }

                .intro {
                    color: $color-main;
                    h3 {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            position: static; // 포지션 해제
                            transform: translateX(0);
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    .pbox {
                        margin-top: 30px;
                        p {
                            font-family: $font-sub2;
                            font-size: $font-size-14;
    
                            @include responsive(large-screens) {
                                font-size: $font-size-20;
                            }
                            &:last-child {
                                br {
                                    display: block;
                                    
                                    @include responsive(large-screens) {
                                        display: none;
                                    }
                                }
                            }
                        }

                    }
                }
    
                .more-btn {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 120px; height: 20px;
                    margin-top: 100px;
                    border: 1px solid white;
                    border-radius: 30px;
                    padding: 12px;
                    cursor: pointer;

                    @include responsive(large-screens) {
                        width: 428px; height: 80px;
                        margin-top: 40px;
                        border-radius: 50px;
                        padding: 30px;
                    }
                    
                    p {
                        font-family: $font-main;
                        font-size: $font-size-12;
                        color: $color-main;

                        @include responsive(large-screens) {
                            font-size: $font-size-25;
                        }
                    }
                    img {
                        width: 25%;
                        transition: transform 0.3s ease;
    
                        @include responsive(large-screens) {
                            width: 38px;
                        }

                        &:hover {
                            transform: translateX(10px);
                        }
                    }
                }
            } //intro-txt

        } 
    } /********************** renewal-page **********************/

    .renewal-page-ani {
        opacity: 1;
        animation: slide-rt-to-lf 1.5s ease forwards; /* 애니메이션 적용 */
    }
    .detailed-page {
        // background-color: red;
        @include responsive(large-screens) {
            height: 1400px; // 섹션명에 높이값 지정 1080px
        }
        .flex-box {
            @include responsive(large-screens) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 80px;
            }
            .page-img {
                // margin-top: 44px;
                margin-bottom: 35px;
                img {
                    margin: 0 auto;
                    width:329px;
                    @include responsive(large-screens) {
                        margin: 0;
                        width: 840px;
                        // margin-top: 135px;
                    }
                }
            }

            .intro-txt {
                position: relative;
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;

                @include responsive(large-screens) {
                    display: block;
                }

                .intro {
                    color: $color-main;
                    h3 {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            position: static; // 포지션 해제
                            transform: translateX(0);
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    .pbox {
                        margin-top: 30px;
                        p {
                            font-family: $font-sub2;
                            font-size: $font-size-14;
    
                            @include responsive(large-screens) {
                                font-size: $font-size-20;
                            }
                        }
                    }
                } //intro
            } //intro-txt

            .more-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 120px; height: 20px;
                margin-top: 75px;
                border: 1px solid white;
                border-radius: 30px;
                padding: 12px;
                cursor: pointer;

                @include responsive(large-screens) {
                    width: 428px; height: 80px;
                    margin-top: 40px;
                    border-radius: 50px;
                    padding: 30px;
                }
                
                p {
                    font-family: $font-main;
                    font-size: $font-size-12;
                    color: $color-main;

                    @include responsive(large-screens) {
                        font-size: $font-size-25;
                    }
                }
                img {
                    width: 25%;
                    transition: transform 0.3s ease;

                    @include responsive(large-screens) {
                        width: 38px;
                    }

                    &:hover {
                        transform: translateX(10px);
                    }
                }
            } //more-btn
        }
    } /********************** detailed-page **********************/

    .banner-design {
        @include responsive(large-screens) {
            height: 1080px; // 섹션명에 높이값 지정 1080px
        }
        .flex-box {
            display: flex;
            flex-direction: column;
            @include responsive(large-screens) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                padding-top: 150px;
            }
            .page-img {
                margin: 0 auto;
                margin-bottom: 35px;
                display: flex;

                @include responsive(large-screens) {
                    margin: 0;
                }
                img {
                    width: 150px;
                    &:first-child {
                        padding-right: 10px;
                    }

                    @include responsive(large-screens) {
                        width: 421px;
                    }

                }
            }

            .intro-txt {
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;

                @include responsive(large-screens) {
                    display: block;
                }

                .intro {
                    color: $color-main;
                    h3 {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            position: static; // 포지션 해제
                            transform: translateX(0);
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    .pbox {
                        margin-top: 30px;
                        p {
                            font-family: $font-sub2;
                            font-size: $font-size-14;
    
                            @include responsive(large-screens) {
                                font-size: $font-size-20;
                            }
                        }
                    }
                } //intro
            } //intro-txt

            .more-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 120px; height: 20px;
                margin-top: 75px;
                border: 1px solid white;
                border-radius: 30px;
                padding: 12px;
                cursor: pointer;

                @include responsive(large-screens) {
                    width: 428px; height: 80px;
                    margin-top: 40px;
                    border-radius: 50px;
                    padding: 30px;
                }
                
                p {
                    font-family: $font-main;
                    font-size: $font-size-12;
                    color: $color-main;

                    @include responsive(large-screens) {
                        font-size: $font-size-25;
                    }
                }
                img {
                    width: 25%;
                    transition: transform 0.3s ease;

                    @include responsive(large-screens) {
                        width: 38px;
                    }

                    &:hover {
                        transform: translateX(10px);
                    }
                }
            } //more-btn
        }
    } /********************** banner-design **********************/
    

    .app-design {
        @include responsive(large-screens) {
            height: 1080px;
        }
        .flex-box {
            display: flex;
            flex-direction: column;
            @include responsive(large-screens) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                padding-top: 240px;
            }
            .page-img {
                margin: 0 auto;
                // justify-content: center;
                
                @include responsive(large-screens) {
                    margin: 0;
                }
                img {
                    // background-color: red;
                    width: 255px;
                    @include responsive(large-screens) {
                        width: 555px;
                        // margin-top: 135px;
                    }
                }
            }
            .intro-txt{
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;

                @include responsive(large-screens) {
                    display: block;
                }
                .intro {
                    color: $color-main;
                    h3 {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-top: 35px;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            position: static;
                            transform: translateX(0);
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    img {
                        display: none;
    
                        @include responsive(large-screens) {
                            display: block;
                            width: 260px;
                            margin-bottom: 30px;
                        }
                    }
                    h4 {
                        display: none;
                        @include responsive(large-screens) {
                            font-size: $font-size-30;
                            margin-bottom: 30px;
                        }
                    }
                    .pbox {
                        margin-top: 70px;
                        p {
                            font-family: $font-sub2;
                            font-size: $font-size-14;
    
                            @include responsive(large-screens) {
                                font-size: $font-size-20;
                            }
                        }
                    }
                } //intro
            }

            .more-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 120px; height: 20px;
                margin-top: 140px; 
                border: 1px solid white;
                border-radius: 30px;
                padding: 12px;
                cursor: pointer;

                @include responsive(large-screens) {
                    width: 428px; height: 80px;
                    margin-top: 40px;
                    border-radius: 50px;
                    padding: 30px;
                }
                
                p {
                    font-family: $font-main;
                    font-size: $font-size-12;
                    color: $color-main;

                    @include responsive(large-screens) {
                        font-size: $font-size-25;
                    }
                }
                img {
                    width: 25%;
                    transition: transform 0.3s ease;

                    @include responsive(large-screens) {
                        width: 38px;
                    }

                    &:hover {
                        transform: translateX(10px);
                    }
                }
            } //more-btn
        } //flex-box
    } /********************** app-design **********************/

    .package-design {
        @include responsive(large-screens) {
            height: 1080px;
        }
        .flex-box {
            display: flex;
            flex-direction: column;
            @include responsive(large-screens) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding-top: 240px;
                // height: 129.5vh;
            }
            .page-img {
                margin: 0 auto;
                margin-bottom: 35px;
                display: flex;

                @include responsive(large-screens) {
                    margin: 0;
                }
                img {
                    width: 300px;
                    &:first-child {
                        padding-right: 10px;
                    }

                    @include responsive(large-screens) {
                        width: 600px;
                    }

                }
            }

            .intro-txt {
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;

                @include responsive(large-screens) {
                    display: block;
                }

                .intro {
                    color: $color-main;
                    h3 {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            position: static; // 포지션 해제
                            transform: translateX(0);
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    .pbox {
                        margin-top: 30px;
                        p {
                            font-family: $font-sub2;
                            font-size: $font-size-14;
    
                            @include responsive(large-screens) {
                                font-size: $font-size-20;
                            }
                        }
                    }
                } //intro
            } //intro-txt

            .more-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 120px; height: 20px;
                margin-top: 75px;
                border: 1px solid white;
                border-radius: 30px;
                padding: 12px;
                cursor: pointer;

                @include responsive(large-screens) {
                    width: 428px; height: 80px;
                    margin-top: 40px;
                    border-radius: 50px;
                    padding: 30px;
                }
                
                p {
                    font-family: $font-main;
                    font-size: $font-size-12;
                    color: $color-main;

                    @include responsive(large-screens) {
                        font-size: $font-size-25;
                    }
                }
                img {
                    width: 25%;
                    transition: transform 0.3s ease;

                    @include responsive(large-screens) {
                        width: 38px;
                    }

                    &:hover {
                        transform: translateX(10px);
                    }
                }
            } //more-btn
        }
    } /********************** banner-design **********************/


    .cardnews-design {
        align-content: center;
        // background-color: aqua;
        @include responsive(large-screens) {
            height: 1080px;
        }
        .flex-box {
            display: flex;
            flex-direction: column;
            @include responsive(large-screens) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                // margin-top: 60px;
            }
            .page-img {
                display: flex;
                justify-content: space-between;
                
                @include responsive(large-screens) {
                    width: 57.3%;
                    justify-content:space-between;
                }

                img {
                    width: 300px;
                    // margin: 10px;
                    margin: 0 auto;
                    margin-bottom: 35px;

                    &:not(:last-child) { //사이의 마진을 제외한 나머지 없애기
                        margin-right: 10px;
                    }
                    @include responsive(large-screens) {
                        width: 800px;
                        margin: 0;
                        margin-right: 180px; //임의로 위치 조정 
                        // margin-top: 135px;
                    }
                }
            }

            .intro-txt {
                display: flex;
                justify-content: space-between;
                margin-bottom: 35px;
                
                @include responsive(large-screens) {
                    // justify-content: space-between;
                    display: block;
                }

                .intro {
                    color: $color-main;

                    h3 {
                        width: 250px;
                        text-align: center;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            width: 100%;
                            text-align: left;
                            position: static;
                            transform: translateX(0);
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    .pbox {
                        margin-top: 30px;
                        p {
                            font-family: $font-sub2;
                            font-size: $font-size-14;
    
                            @include responsive(large-screens) {
                                font-size: $font-size-20;
                            }
                        }
                    }
                } //intro
            } //intro-txt

            .more-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 120px; height: 20px;
                margin-top: 100px;
                border: 1px solid white;
                border-radius: 30px;
                padding: 12px;
                cursor: pointer;

                @include responsive(large-screens) {
                    width: 428px; height: 80px;
                    margin-top: 40px;
                    border-radius: 50px;
                    padding: 30px;
                }
                
                p {
                    font-family: $font-main;
                    font-size: $font-size-12;
                    color: $color-main;

                    @include responsive(large-screens) {
                        font-size: $font-size-25;
                    }
                }
                img {
                    width: 25%;
                    transition: transform 0.3s ease;

                    @include responsive(large-screens) {
                        width: 38px;
                    }

                    &:hover {
                        transform: translateX(10px);
                    }
                }
            } //more-btn
        }

        
    } /********************** cardnews-design **********************/

    .teamproject {
        // background-color: cadetblue;
        @include responsive(large-screens) {
            height: 1780px;
        }
        .flex-box {
            display: flex;
            flex-direction: column;
            .page-img {
                margin: 0 auto;
                margin-bottom: 35px;
                
                @include responsive(large-screens) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 0;
                }
                img {
                    width: 291px;

                    &:first-child {
                        @include responsive(large-screens) {
                            width: 694px; height: 580px;
                            margin-top: 280px;
                        }
                    }
                    &:last-child {
                        @include responsive(large-screens) {
                            width: 573px;
                        }
                    }

                }
            }
            .intro-txt {
                display: flex;
                justify-content: center;
                
                @include responsive(large-screens) {
                    flex-direction: column;
                    justify-content: left;
                    font-size: $font-size-20;
                    margin-top: -750px;
                }
                .intro {
                    color: $color-main;
                    h3 {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            position: static; //포지션 해제
                            transform: translateX(0);
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    .pbox {
                        margin-top: 35px;
                        p {
                            font-family: $font-sub2;
                            font-size: $font-size-14;
    
                            @include responsive(large-screens) {
                                font-size: $font-size-20;
                            }
    
                            &:last-child {
                                br {
                                    display: block;
    
                                    @include responsive(large-screens) {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }
            } //intro-txt

            .more-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 120px; height: 20px;
                margin-top: 180px;
                border: 1px solid white;
                border-radius: 30px;
                padding: 12px;
                cursor: pointer;

                @include responsive(large-screens) {
                    width: 428px; height: 80px;
                    margin-top: 40px;
                    border-radius: 50px;
                    padding: 30px;
                }
                
                p {
                    font-family: $font-main;
                    font-size: $font-size-12;
                    color: $color-main;

                    @include responsive(large-screens) {
                        font-size: $font-size-25;
                    }
                }
                img {
                    width: 25%;
                    transition: transform 0.3s ease;

                    @include responsive(large-screens) {
                        width: 38px;
                    }

                    &:hover {
                        transform: translateX(10px);
                    }
                }
            } //more-btn
        }
    } /********************** cardnews-design **********************/

    .top-btn {
        z-index: 999;
        a {
            img {
                width: 20%;
                max-width: 100px; // 최대 이사이즈 까지만 늘어나게 고정
                position: fixed;
                right: 30px;
                bottom: 30px;

                @include responsive(large-screens) {
                    width: 5%;
                }
            }
            &:hover {
                font-weight: bold;
            }
        }
    }

} ////////////////////////////// main ///////////////////////////////////