  @import "./style.scss";
@import "./reset.scss";
@import "./mixin.scss";


body {
    height: 5146px; // 모바일 버전 섹션에 높이값 지정
    @include responsive(large-screens) {
        height: 11022px; // 페이지 전체의 높이값 지정.
    }
    background: url(..//images/background_blue_mobile.png) no-repeat;
    background-size: cover;
    background-position: center;

    @include responsive(large-screens) {
        background: url(../images/background_blue_pc.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
}


main {
    .symbol {
        display: flex; // flexbox 사용
        flex-direction: column; // 세로 방향으로 정렬
        align-items: center; // 수평 중앙 정렬
        justify-content: center; // 수직 중앙 정렬
        height: 50vh;
        // height: 330px; // 모바일 버전 섹션에 높이값 지정
    
        @include responsive(large-screens) {
            height: 980px;
        }
        
        img {
            &:first-child {
                width: 200px;
                margin: 0 auto; 
    
                @include responsive(large-screens) {
                    width: 612px;
                    margin-top: 120px;
                    margin-bottom: 95px;
                }
            }
            &:last-child {
                display: none;
    
                @include responsive(large-screens) {
                    display: block;
                }
            }
        }
    } /**********************symbol**********************/

    .aboutme {
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 437px; // 모바일 버전 섹션에 높이값 지정
        @include responsive(large-screens) {
            height: 1080px; // 섹션명에 높이값 지정 1080px
        }
        h1 {
            font-family: $font-main;
            font-size: $mobile-title-main;
            text-align: center;
            color: $color-main;
            margin-bottom: 24px;

            @include responsive(large-screens) {
                font-size: $desktop-title-main;
                margin-bottom: 127px;
            }
        }
        .flex-box {
            color: $color-main;
            font-family: $font-sub2;
            text-align: center;
            @include responsive(large-screens) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            img {
                margin: 0 auto;
                width: 117px;


                @include responsive(large-screens) {
                    width: 390px;
                    margin-right: 330px;
                }
            }
            .introduc {
                @include responsive(large-screens) {
                    text-align: left;
                }
                h3 {
                    font-size: $mobile-title-sub;
                    margin-top: 40px;
                    margin-bottom: 32px;

                    @include responsive(large-screens) {
                        font-size: $mobile-title-main;
                    }

                    br {
                        @media (max-width: 768px) { //768px 이하일때 <br>숨김.
                                display: none;
                        }
                    }
                }
                p {
                    font-size: $font-size-14;
                    span {
                        &:hover {
                            text-shadow: 0px 4px 10px lightblue;
                        }
                    }

                    @include responsive(large-screens) {
                        font-size: $font-size-20;
                    }
                }
            }
        }
    } /********************** aboutme **********************/

    .skill {
        // height: 480px; // 모바일 버전 섹션에 높이값 지정
        @include responsive(large-screens) {
            height: 1080px; // 섹션명에 높이값 지정 1080px
        }
        h1 {
            font-family: $font-main;
            font-size: $mobile-title-main;
            text-align: center;
            color: $color-main;
            margin-top: 60px;
            margin-bottom: 24px;

            @include responsive(large-screens) {
                font-size: $desktop-title-main;
                margin-top: 270px;
                margin-bottom: 127px;
            }
        }
        .icon-box {
            // background-color: red;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            @include responsive(large-screens) {
                margin-bottom: 122px;
            }
            
            .icon {
                display: flex;
                justify-content: center;
                width: calc(50%);
                margin-bottom: 10px;
                
                
                @include responsive(large-screens) {
                    width: calc(33.33%);
                    margin-bottom: 30px;
                }
                
                img {
                    width: 75px;

                    @include responsive(large-screens) {
                        width: 250px;
                    }
                }
            }
            .icon9 {
                width: 75px;
                justify-content: flex-start;
                margin-right: 165px;

                @include responsive(large-screens) {
                    width: calc(33.33%);
                    margin-right: 0;
                }

                img {

                    @include responsive(large-screens) {
                        width: 250px;
                        margin: 0 auto 30px;                        
                    }
                }
            }
        }
    }  /********************** skill **********************/

    .renewal-page {
        // height: 584px; // 모바일 버전 섹션에 높이값 지정
        @include responsive(large-screens) {
            height: 1080px; // 섹션명에 높이값 지정 1080px
        }
        h1 {
            // position: relative;
            font-family: $font-main;
            font-size: $mobile-title-main;
            text-align: center;
            color: $color-main;
            margin-top: 35px;
            margin-bottom: 30px;

            @include responsive(large-screens) {
                font-size: $desktop-title-main;
            }
        }
        .flex-box {
            // background-color: aquamarine;
            // position: relative;
            @include responsive(large-screens) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                height: 1080px; 
                align-items: center;
                // margin-top: 60px;
            }
            .page-img {
                // justify-content: center;
                img {
                    width: 194px; 
                    height: 358px;
                    margin-bottom: 48px;
                    @include responsive(large-screens) {
                        width: 454px;
                        height: 824px;
                    }
                }
            }
            .intro-txt {
                display: flex;
                justify-content: space-between;

                @include responsive(large-screens) {
                    display: block;
                }

                .intro {
                    color: $color-main;
                    h3 {
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    p {
                        font-family: $font-sub2;
                        font-size: $font-size-14;

                        @include responsive(large-screens) {
                            font-size: $font-size-20;
                        }
                        &:last-child {
                            br {
                                display: block;
                               
                                @include responsive(large-screens) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
    
                .more-btn {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 120px; height: 20px;
                    margin-top: 100px;
                    border: 1px solid white;
                    border-radius: 30px;
                    padding: 12px;

                    @include responsive(large-screens) {
                        width: 428px; height: 80px;
                        margin-top: 40px;
                        border-radius: 50px;
                        padding: 30px;
                    }
                    
                    p {
                        font-family: $font-main;
                        font-size: $font-size-12;
                        color: $color-main;

                        @include responsive(large-screens) {
                            font-size: $font-size-25;
                        }
                    }
                    a {
                        width: 25%;
                        cursor: pointer;

                        @include responsive(large-screens) {
                            width: 38px;
                        }
                    }
                }
            } //intro-txt

        } 
    } /********************** renewal-page **********************/

    .detailed-page {
        // height: 740px; // 모바일 버전 섹션에 높이값 지정
        @include responsive(large-screens) {
            height: 1663px; // 섹션명에 높이값 지정 1080px
        }
        .flex-box {
            @include responsive(large-screens) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 80px;
            }
            .page-img {
                // margin-top: 44px;
                img {
                    width:329px;
                    @include responsive(large-screens) {
                        width: 840px;
                        // margin-top: 135px;
                    }
                }
            }

            .intro-txt {
                display: flex;
                justify-content: space-between;

                @include responsive(large-screens) {
                    display: block;
                }

                .intro {
                    color: $color-main;
                    h3 {
                        text-align: center;
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    p {
                        font-family: $font-sub2;
                        font-size: $font-size-14;

                        @include responsive(large-screens) {
                            font-size: $font-size-20;
                        }
                    }
                } //intro
            } //intro-txt

            .more-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 120px; height: 20px;
                margin-top: 100px;
                border: 1px solid white;
                border-radius: 30px;
                padding: 12px;

                @include responsive(large-screens) {
                    width: 428px; height: 80px;
                    margin-top: 40px;
                    border-radius: 50px;
                    padding: 30px;
                }
                
                p {
                    font-family: $font-main;
                    font-size: $font-size-12;
                    color: $color-main;

                    @include responsive(large-screens) {
                        font-size: $font-size-25;
                    }
                }
                a {
                    width: 25%;
                    cursor: pointer;

                    @include responsive(large-screens) {
                        width: 38px;
                    }
                }
            } //more-btn
        }
    } /********************** detailed-page **********************/

    .app-design {
        // height: 568px; // 모바일 버전 섹션에 높이값 지정
        @include responsive(large-screens) {
            height: 1080px;
        }
        .flex-box {
            @include responsive(large-screens) {
                display: flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                align-items: center;
                // margin-top: 60px;
            }
            .page-img {
                margin-top: 44px;
                // justify-content: center;
                img {
                    width: 186px;
                    @include responsive(large-screens) {
                        width: 504px;
                        // margin-top: 135px;
                    }
                }
            }
            .intro-txt{
                display: flex;
                justify-content: space-between;

                @include responsive(large-screens) {
                    display: block;
                }
                .intro {
                    color: $color-main;
                    h3 {
                        text-align: left;
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    img {
                        display: none;
    
                        @include responsive(large-screens) {
                            display: block;
                            width: 357px;
                            margin-bottom: 30px;
                        }
                    }
                    h4 {
                        @include responsive(large-screens) {
                            font-size: $font-size-30;
                            margin-bottom: 30px;
                        }
                    }
                    p {
                        font-family: $font-sub2;
                        font-size: $font-size-14;

                        @include responsive(large-screens) {
                            font-size: $font-size-20;
                        }
                    }
                } //intro
            }

            .more-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 120px; height: 20px;
                margin-top: 124px; 
                border: 1px solid white;
                border-radius: 30px;
                padding: 12px;

                @include responsive(large-screens) {
                    width: 428px; height: 80px;
                    margin-top: 40px;
                    border-radius: 50px;
                    padding: 30px;
                }
                
                p {
                    font-family: $font-main;
                    font-size: $font-size-12;
                    color: $color-main;

                    @include responsive(large-screens) {
                        font-size: $font-size-25;
                    }
                }
                a {
                    width: 25%;
                    cursor: pointer;

                    @include responsive(large-screens) {
                        width: 38px;
                    }
                }
            } //more-btn
        } //flex-box
    } /********************** app-design **********************/

    .cardnews-design {
        // height: 373px; // 모바일 버전 섹션에 높이값 지정
        @include responsive(large-screens) {
            height: 1080px;
        }
        .flex-box {
            @include responsive(large-screens) {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 60px;
            }
            .page-img {
                display: flex;
                justify-content: center;

                img {
                    width: 152px;
                    margin: 10px;
                    &:not(:last-child) { //사이의 마진을 제외한 나머지 없애기
                        margin-right: 10px;
                    }
                    @include responsive(large-screens) {
                        width: 391px;
                        margin-right: 180px; //임의로 위치 조정 
                        // margin-top: 135px;
                    }
                }
            }

            .intro-txt {
                display: flex;
                
                @include responsive(large-screens) {
                    // justify-content: space-between;
                    display: block;
                }

                .intro {
                    color: $color-main;
                    h3 {
                        // text-align: center;
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    p {
                        font-family: $font-sub2;
                        font-size: $font-size-14;

                        @include responsive(large-screens) {
                            font-size: $font-size-20;
                        }
                    }
                } //intro
            } //intro-txt

            .more-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 120px; height: 20px;
                margin-top: 100px;
                border: 1px solid white;
                border-radius: 30px;
                padding: 12px;

                @include responsive(large-screens) {
                    width: 428px; height: 80px;
                    margin-top: 40px;
                    border-radius: 50px;
                    padding: 30px;
                }
                
                p {
                    font-family: $font-main;
                    font-size: $font-size-12;
                    color: $color-main;

                    @include responsive(large-screens) {
                        font-size: $font-size-25;
                    }
                }
                a {
                    width: 25%;
                    cursor: pointer;

                    @include responsive(large-screens) {
                        width: 38px;
                    }
                }
            } //more-btn
        }

        
    } /********************** cardnews-design **********************/

    .teamproject {
        // background-color: cadetblue;
        // height: 1375px; // 모바일 버전 섹션에 높이값 지정
        @include responsive(large-screens) {
            height: 1854px;
        }
        .flex-box {
            .page-img {
                @include responsive(large-screens) {
                    display: flex;
                    justify-content: space-between;
                }
                img {
                    width: 291px;
                    &:first-child {
                        @include responsive(large-screens) {
                            width: 694px; height: 580px;
                            margin-top: 280px;
                        }
                    }
                    &:last-child {
                        @include responsive(large-screens) {
                            width: 573px;
                        }
                    }

                }
            }
            .intro-txt {
                // display: flex;
                @include responsive(large-screens) {
                    font-size: $font-size-20;
                    margin-top: -750px;
                }
                .intro {
                    color: $color-main;
                    h3 {
                        // text-align: center;
                        font-family: $font-main;
                        font-size: $font-size-18;
                        margin-bottom: 35px;

                        @include responsive(large-screens) {
                            font-size: $desktop-title-sub;
                            font-weight: lighter;
                            margin-bottom: 30px;
                        }
                    }
                    p {
                        font-family: $font-sub2;
                        font-size: $font-size-14;

                        @include responsive(large-screens) {
                            font-size: $font-size-20;
                        }

                        &:last-child {
                            br {
                                display: block;

                                @include responsive(large-screens) {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            } //intro-txt

            .more-btn {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 120px; height: 20px;
                margin-top: 35px;
                border: 1px solid white;
                border-radius: 30px;
                padding: 12px;

                @include responsive(large-screens) {
                    width: 428px; height: 80px;
                    // margin-top: 40px;
                    border-radius: 50px;
                    padding: 30px;
                }
                
                p {
                    font-family: $font-main;
                    font-size: $font-size-12;
                    color: $color-main;

                    @include responsive(large-screens) {
                        font-size: $font-size-25;
                    }
                }
                a {
                    width: 25%;
                    cursor: pointer;

                    @include responsive(large-screens) {
                        width: 38px;
                    }
                }
            } //more-btn
        }
    } /********************** cardnews-design **********************/

    // .top-btn {
    //     position: fixed;
    //     bottom: 100px;
    //     right: 30px;
    //     width: 80px; height: 80px;
    //     text-align: center;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     border: 1px solid white;
    //     border-radius: 50%;
    //     cursor: pointer;

    //     &:hover {
    //         border-radius: 50%;
    //         background-color: $color-main;
    //         opacity: 80%;
    //     }
    //     a {
    //         color: $color-main;
    //         font-family: $font-main;
    //         font-size: 25px;
    //         padding: 0;
    //         margin: 0;

    //         &:hover {
    //             color: black;
    //             font-weight: bold;
    //         }
    //     }
    // } /********************** top-btn **********************/

    .top-btn {
        z-index: 999;
        a {
            img {
                width: 20%;
                position: fixed;
                right: 30px;
                bottom: 30px;

                @include responsive(large-screens) {
                    width: 5%;
                }
            }
            &:hover {
                font-weight: bold;
            }
        }
    }

} ////////////////////////////// main ///////////////////////////////////