@mixin responsive($break) {
    @if $break == small-screens {
        @media (min-width: $break-small) {
            @content;
        }
    }
    @else if $break == medium-screens {
        @media (min-width: $break-mediunm) {
            @content;
        }
    }
    @else if $break == large-screens {
        @media (min-width: $break-large) {
            @content;
        }
    }
}

@mixin lf-to-rt {
    @keyframes slide-lf-to-rt { // 왼쪽에서 오른쪽으로 가도록하는 애니메이션
        from {
            transform: translateX(-50%); /* 화면 왼쪽 밖으로 */
            opacity: 0; /* 투명도 0 */
        }
        to {
            transform: translateX(0); /* 정중앙으로 */
            opacity: 1; /* 완전 불투명 */
        }
    }
}

@mixin rt-to-lf {
    @keyframes slide-rt-to-lf { // 오른쪽에서 왼쪽으로 가도록하는 애니메이션
        from {
            transform: translateX(50%); /* 화면 오른쪽 밖으로 */
            opacity: 0; /* 투명도 0 */
        }
        to {
            transform: translateX(0); /* 정중앙으로 */
            opacity: 1; /* 완전 불투명 */
        }
    }
}