@import "./style.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    color: $color-main;
    text-decoration: none;
}
img {
    display: block;
    width: $width-wide;
}
h1 {
    font-size: $font-size-80;
}
h2 {
    font-size: $desktop-title-sub;
}
p {
    font-size: $font-size-20;
    line-height: 1.8;
}