$color-main: #fff;
$color-sub: #000;
$color-span: #f89a3b;


$font-main: "Copperplate Gothic"; 
$font-sub: "Copperplate Gothic";
$font-sub2: "Noto Sans KR";


$font-size-150: 150px;
$font-size-80: 80px;
$font-size-50: 50px;
$font-size-40: 40px;
$font-size-30: 30px;
$font-size-25: 25px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-14: 14px;
$font-size-12: 12px;

$mobile-title-sub: calc(18px + 0.5vw);
$mobile-title-main: calc(25px + 0.5vw);
$mobile-content-sub: calc(35px + 0.5vw);

$desktop-title-sub: calc(50px + 0.2vw);
$desktop-title-main: calc(80px + 0.2vw);
$desktop-content-sub: calc(40px + 0.5vw);

$width-wide: 100%;
$width-half: 50%;

$break-small: 360px;
$break-medium: 768px;
$break-large: 1440px;