@import "../../../../scss/style.scss";
@import "../../../../scss/reset.scss";
@import "../../../../scss/mixin.scss";

.container {
    // background-color: cornflowerblue;
    width: $width-wide;
    max-width: $break-large;
    margin: 0 auto;
    padding: 0 15px;

    @include responsive(large-screens) {
        padding: 0 10px;
    }
}

body {
    @include responsive(large-screens) {
        height: 12425px; // 페이지 전체의 높이값 지정.
    }
    
    background: url(../../../../images/background_blue_mobile_2.png) no-repeat;
    background-size: cover;
    background-position: center;

    @include responsive(large-screens) {
        background: url(../../../../images/background_blue_pc_2.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
}
